<nav>
    <ul>
        <li class="navli">
            <a href="/current">Current Weather</a>
        </li>
        
        <li class="navli">
            <a href="/forecast">Forecast Weather</a>
        </li>
    </ul>
</nav>