
<!-- <body background="https://media.istockphoto.com/photos/error-page-not-found-picture-id1153372686" width="100%"> -->
<style>
    body {
        background-image: url('https://media.istockphoto.com/photos/error-page-not-found-picture-id1153372686');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<body></body>

