<!DOCTYPE html>
<html>
<head>    
<title> Weather APP - Forecast </title>

</head>
<body>
    <%- include('partials/nav.ejs') %>
</body>


<footer>
 <%- include('partials/footer.ejs') %>
</footer>

</html>