.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transition-property: transform;
}

div > p {
  position: absolute;
  font-size: 40px;
  display: none;
}

.div1 {
  display: flex;
  flex-direction: column;
}

.div2 {
  display: flex;
  flex-direction: column;
}

#app {
  width: 100px;
  height: 100px;
  background-color: red;
  transition-property: transform;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
}
#app1 {
  width: 100px;
  height: 100px;
  background-color: yellow;
  transition-property: transform;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
}
#app2 {
  width: 100px;
  height: 100px;
  background-color: blue;
  transition-property: transform;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
}
#app3 {
  width: 100px;
  height: 100px;
  background-color: green;
  transition-property: transform;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
}

.main:hover #app {
  transform: translate(-100px, 0px) rotate(90deg);
}
.main:hover #app1 {
  transform: translate(-100px, 0px) rotate(90deg);
}

.main:hover #app2 {
  transform: translate(100px, 0px) rotate(-90deg);
}
.main:hover #app3 {
  transform: translate(100px, 0px) rotate(-90deg);
}

.main:hover p {
  display: block;
}
