*{
    background-color: rgb(205, 163, 84); 
    font-family: Helvetica;
    box-sizing: border-box;
} 

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.image {
    align-self: center;
}
.content {
    display: flex;
    flex-direction: row;
    border: 2px #ccc solid;
    padding-left:2px;
    padding-right:2px;
    flex-wrap: wrap;
}

p {
    font-size: 15px;
    font-style: oblique;
    text-align: justify;
}
.content div{
    margin:10px 10px 10px;
    border: 2px #ccc solid;
    padding-left:2px;
    padding-right:2px;  
 }

.contentL {
    display: flex;
    flex-direction: column;
    flex: 45%; 
}

.contentR {
    display: flex;
    flex: 45%;
    flex-direction: column;
}

@media (max-width: 700px) {
     .contentL, .contentR {
        flex:100%;

    }
}

.button {
    width: 100px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.button:hover {
    background-color: lightslategray;
}