
.App {
  text-align: center;
  background-color: antiquewhite;
}

form {
  display: block;
  text-align: left;
  
}

b {
  margin-left: 30px;
}

.text-box {
 display: block;
 width: 95%;
 font-size: 14px;
 border-radius: 5px;
 margin-left: 30px;
 margin-right: 30px;
 margin-top: 5px;
 margin-bottom: 5px;
 padding: 0.37 rem 0.75 rem;
 height: 40px;
 background-color: lightcyan;
}

.todo {
  display:flex;
  flex-direction: row;
  min-height: 1px;
  padding: 1.25 rem;
  border-color: bisque;
  margin-top: 5px;
  margin-bottom: 5px;  
  background-color: lightcyan;
}

.text-area{
  position: relative;
  display: flex;
  font-size: 15px;
  flex-direction: column;
  width: 88%;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
  word-wrap: break-word;  
}

.button-area {
  position: relative;
  display: flex;
  flex-direction: row;
}

.add-button {
  color: aliceblue;
  background-color: blue;
  border-radius: 5px;
  border-color: blue;
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50px;
  height:40px;
}

.add-button:hover {
  color: blue;
  background-color: aliceblue;
  border-radius: 5px;
  border-color: blue;
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50px;
  height:40px;
}


.mark-button {
  color: aliceblue;
  background-color: darkslategray;
  border-radius: 5px;
  height:40px;
  border-color:  darkslategray;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.mark-button:hover {
  color: darkslategray;
  background-color: aliceblue;
  border-radius: 5px;
  height:40px;
  border-color:  darkslategray;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.remove-button {
  color: aliceblue;
  background-color: red;
  border-radius: 5px;
  height:40px;
  border-color: red;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px; 
}

.remove-button:hover {
  color: red;
  background-color: aliceblue;
  border-radius: 5px;
  height:40px;
  border-color: red;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px; 
}