@import url(https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

* {
 font-family: 'Lato',sans-serif;
}

body {
    border: 0spx black;
    display: flex;
	flex:0;
  }
#topImg {
    float: left;
    margin-right: 30px;
    
}
#smallImg {
	
    margin-left:2em;
	margin-right:10px;
    margin-top: 2em;
    
}

span {
    font: 1em;
    background-color:#dae5e9;
    color: blueviolet;
    border: 2px solid #000;  
}   
aside {
    display:flex;
    flex:0 0 40px;
    flex-direction: column;
    align-items: center; 
    background-color: lightgrey;
    justify-content:space-around;
    }
aside i.la {
       font-size: 1.5em;
       font-weight: bold;
       margin-top: 0.3em;
       margin-bottom: 1.5em;
   }
   #top {
    padding: 90px;
    background-color: rgb(71, 68, 64);
    width: auto;
   }
   h2 {
       color: aliceblue;    
   }
   .caption {
       font-size: large;
       color:azure;
       margin-left:10px
   }
.subtitle {
    font-size: small;
    color:azure;
    margin-left: 10px;
    margin-top: 20px;
    line-height: 40%;
   }
.subtitleClose {
    font-size: small;
    color:azure;
    margin-left: 10px;
   }
ul{
	display:inline;
	margin-block-start: 4px;
	margin-block-end: 4px;
	margin-bottom:70px;
}
li p{
    display: inline-table;
    width: 310px;
}
li{
    list-style-type: none;
}
li:nth-child(even) {
    background: lightgrey;
}
footer {
	position:fixed;
	bottom:0;
} 
.bottom {
	display:flex;
    background-color: rgb(67, 1, 232);
	
}
.subTitleBottom {
    display: flex;
    font-size: small;
    flex-direction: column;
	width:40.3em;
	padding:15px;
	color:azure;
}
.control {
    display:flex;
    flex-direction: row; 
	margin-top:50px;
    color: azure;
	width:40.3em;
}
 div i.la {
	margin-right:7em;
}