@import url(https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

* {
 font-family: 'Lato',sans-serif;
}

body {
    border:1px solid #333 ;
}
#topImg {
    float: left;
    margin-right: 30px;
    
}
#bottom {
    float: left;
    margin-left: 2.0em;
    margin-top: 20px;
    margin-right: 10px;
}

span {
    font: 1em;
    background-color:#dae5e9;
    color: blueviolet;
    border: 2px solid #000;  
}   
aside {
 position: absolute;
 float:left;
 width: 1.5em;
 color: black;
 background-color: lightgrey;
 padding: 6px;
 justify-content:center;
 height: 100%;
 }

#top{
 padding: 90px;
 background-color: rgb(71, 68, 64);
 width: auto;
}
h2 {
    color: aliceblue;    
}
.caption {
    margin: 40px;
    font-size: large;
    color:azure;
    margin-left:10px
}
.subtitle {
    font-size: small;
    color:azure;
    margin-left: 10px;
    margin-top: 20px;
    line-height: 40%;

}
.subTitleBottom {
    font-size: small;
    color:azure;
    margin-left: 10px;
    margin-top: auto ;

}
.subtitleClose {
    font-size: small;
    color:azure;
    margin-left: 10px;
}
.control {
    display:flow-root;
    font-size: small;
    float:initial;
    background-color: hsl(257, 97%, 64%);
    width: auto;
    color:azure;
    text-align:right;
    margin-left:auto;
}
.spacing {
    padding: 27px;
}
i.la {
    font-size: 1em;
    margin-right: 9.3em;   
    margin-bottom: 3.7em;
    margin-top: 0.1em;
<<<<<<< HEAD
=======
}
i.lar {
    margin-bottom: auto;
>>>>>>> ed889a64cbb1a72b828f30938227b6d713be2650
}
i.las {
    margin-top: 5.8em;
    margin-right: 2.8em;
    font-style: inherit;
}

li p{
    display: inline-table;
    width: 300px;
}
li{
    padding: 10px;
}
<<<<<<< HEAD
li:nth-child(even) {
=======

table tr:nth-child(even) {
>>>>>>> ed889a64cbb1a72b828f30938227b6d713be2650
    background: lightgrey;
}

footer {
    border-block-color: black;
    border-block-width: 2px;
    border: 10px;
    background-color: hsl(257, 97%, 64%);
    padding: auto;
    width: auto;
    height: auto;
}
